
{% comment %} rooms in namespace, room detail is name in path, room.pk is arg {% endcomment %}


<div class="w-1/4 mb-5 px-1">
    <div class="w-full h-36 bg-cover bg-center rounded-md mb-2" style="background-image: url({{ room.get_first_photo}})"></div>
    <div class="flex justify-between items-center">
        <div>
            {% if room.host.superhost %}
               <span class="uppercase text-xs font-medium text-gray-500 border border-gray-500 rounded py-1 px-2">superhost</span>
            {% endif %}

            <span class="font-medium">{{ room.city }}</span>
        </div>
        <span class="text-sm flex items-center">
            <i class="fa-solid fa-star text-amber-400 text-xs mr-1"></i>
            {{ room.get_room_average }}
        </span>
    </div>

<!--1
    <a href="{% url 'rooms:room_detail' room.pk %}">
        <img src="{{ room.get_first_photo}}" />
        {{ room.name }} at {{ room.price }}$ per night
    </a>-->
</div>