{% extends 'base.html' %}

{% block title %}
    Home page
{% endblock title %}

{% block content %}
    Time: {{time}}

    <div class="container mx-auto">
        <!--top image-->
        <div class=" bg-cover bg-center rounded-xl bg-gray-200 w-full h-50vh my-12" style="background-image: url('static/img/unsplashphoto-warsaw.webp');"></div>

        <!--rooms-->
        {% comment %} context_object_name="rooms" in views, pass room=room to partial with single card {% endcomment %}
        <div class="flex flex-wrap -mx-2 mb-10">
            {% for room in rooms  %} 
                {% include 'partials/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <!--pagination-->
        <div class="flex mx-auto justify-center items-center container pb-10">
            {% if page_obj.has_previous %}<a href="/?page={{page_obj.previous_page_number}}"><i class="fa-solid fa-square-caret-left fa-lg text-amber-400"></i><a>{% endif %}

            <span class="mx-2 font-medium text-base">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</span>

            {% if page_obj.has_next %}<a href="/?page={{page_obj.next_page_number}}"><i class="fa-solid fa-square-caret-right fa-lg text-amber-400"></i><a>{% endif %}
        </div>
        
        
        <div class="my-5">
        Pages: 
        {% for page in page_obj.paginator.page_range %}
            <a href="/?page={{page}}">{{page}}</a>  
        {% endfor %}
        </div>

    </div>
    



    
{% endblock content %}
