{% extends 'base.html' %}

{% block title %}
    search page
{% endblock title %}

{% block search_bar %}{% endblock search_bar %}

{% block content %}
    <h3>Search</h3>
    <form method="GET" action="{% url 'rooms:search' %}">
        <div>
            <label for="city-input">City: </label>
            <input value="{{selected_city}}" name="city" placeholder="Search cities" id="city-input"/>
        </div>

        <div>
            <label for="country-input">Country: </label>
            <select id="country-input" name="country">
                <option>Anywhere</option>
                {% for country in countries %}
                    <option value="{{country.code}}" {% if country.code == selected_country %} selected{% endif %}>{{country.name}}</option>
                {% endfor %}
            </select>
        <div>
        <div>
            <label for="type-input">Room type: </label>
            <select id="type-input" name="room_type">
                <option value="0">Any</option>
                {% for room_type in room_types %}
                    <option value="{{room_type.pk}}" {% if room_type.pk == selected_room_type %}selected{% endif %}>{{room_type.name}}</option>
                {% endfor %}
            </select>
        <div>
        <div>
            <label for="price-input">Price: </label>
            <input value="{{price}}" type="number" placeholder="Price" name="price" id="price-input"/>
        <div>
        <div>
            <label for="guests-input">Guests: </label>
            <input value="{{guests}}" type="number" placeholder="Guests" name="guests" id="guests-input"/>
        <div>
        <div>
            <label for="bedrooms-input">Bedrooms: </label>
            <input value="{{bedrooms}}" type="number" placeholder="Bedrooms" name="bedrooms" id="bedrooms-input"/>
        <div>
        <div>
            <label for="beds-input">Beds: </label>
            <input value="{{beds}}" type="number" placeholder="Beds" name="beds" id="beds-input"/>
        <div>
        <div>
            <label for="baths-input">Baths: </label>
            <input value="{{baths}}" type="number" placeholder="Baths" name="baths" id="baths-input"/>
        <div>
        <div>
            <h3>Amenities</h3>
            <ul>
                {% for a in amenities %}
                    <li>
                        <label for="a_{{a.pk}}">{{a.name}}</label>
                        <input value="{{a.pk}}"" type="checkbox" name="amenities" id="a_{{a.pk}}"/>
                    </li>
                {% endfor %}
            </ul>
        <div>
        <div>
            <h3>Facilities</h3>
            <ul>
                {% for f in facilities %}
                    <li>
                        <label for="f_{{f.pk}}">{{f.name}}</label>
                        <input value="{{f.pk}}" type="checkbox" name="facilities" id="f_{{f.pk}}"/>
                    </li>
                {% endfor %}
            </ul>
        <div>
        <button>Search</button>
    </form>
    <h4>Search for {{city}}</h4>
{%endblock content%}