// https://v1.tailwindcss.com/docs/installation
@tailwind base;
@tailwind components;


.search-box {
    transition: box-shadow 0.7s ease-in-out;
}

.nav_li {
    @apply ml-4 p-2 border-b-2 border-white flex h-full items-center;

    a {
        @apply p-4;
    }

    &:hover {
        @apply border-amber-400;
    }
}

.btn {
    @apply w-full text-center rounded-md py-5 font-medium;
}

.input-wrapper {
    position: relative;
}

.fa-solid {
    position: absolute;
    left: 10px;
    top: 10px;
}

input {
    @apply font-medium w-full rounded-md border-gray-500 text-left border-2 pr-2 pl-8 py-1 mb-2;

    &:focus {
        @apply outline-none border-sky-500;
    }
}

@tailwind utilities;