{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}{% endblock title %} .:. MMbnb</title>
</head>
<body class="text-gray-600 mt-32">
    <header class="inset-0 container max-w-full flex items-center justify-between px-6 h-28 border-b fixed bg-white">
        <div class="flex items-center w-2/3">
        <a href="{% url 'core:home' %}" class="mr-10">
            <img class="w-20" src="{% static 'img/logo_bw.png' %}" alt="MMbnb logo">
        </a>
        
        
        {% block search_bar %}
            <form method="GET" action="{% url 'rooms:search' %}">
                <input class="search-box border p-2 rounded-lg w-64 shadow-sm hover:shadow-lg text-sm font-medium placeholder-gray-700 text-gray-700 focus:outline-none" name="city" placeholder="Search cities"/>
            </form>
        {% endblock search_bar %}
        </div>


        {% include "partials/header.html " %}
        
    </header>
    {% block content %}{% endblock content %}
     {% include "partials/footer.html" %}
</body>
</html>